@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');
*{
    font-family: 'Fira Code', monospace;
    font-weight: 500;
}

header{
    background: #1b1a1a;
}
nav{
    position: absolute;
    top: 150px;
    right: 150px;

}
nav li{
    display: inline;
    margin-left: 15px;
}
nav a{
    text-transform: capitalize;
    color: rgb(134, 134, 134);
    text-decoration: none;
}
nav a:hover{
    border-bottom: 1px solid rgb(134, 134, 134);
}
#logo {
    border-radius: 50%;
    width: 300px;
}